$dogerblue:#2191FB;
$gray-blue:#8D99AE;
$white:#FFFAFF;
$heidelberg-red:#A4031F;
$licorice:#0C1713;
$myrtlegreen:#296B5F;
$mindaro:#DBFE87;
$dimgray:	#6B4E71;

$theme-colors:(
  "primary":$heidelberg-red,
  "secondary":$gray-blue,
  "success":$myrtlegreen,
  "info":$dogerblue,
  "warning":$mindaro,
  "danger":$dimgray,
  "light":$white,
  "dark":$licorice
)
