html,body{
  font-size: 18px;
  padding:0;
  margin:0;
  background-color: gold;
  text-align: center;
  font-family: 'Acme', sans-serif;
}
body{
  position: relative;
  bottom: 1.3rem;
}
/*header*/
header{
    position: fixed;
    display: block;
    width:100%;

    z-index: 10;
}
ul{
  padding-left: 0;
  margin:0;
}
nav{
  background-color: #48A9A6;
  max-width: 100%;
padding-bottom: .8rem;
}
nav ul li{
  position: relative;
  display:inline;
  margin-left: 6rem;
  margin-right: 6rem;

}


/*About Me section*/

#about{
  background-color: #D4B483;
  position: relative;
  display: block;
}
#about h2{
  position: relative;
  display: block;
  top:2rem;
  margin-bottom: 2rem;
  color:#5E2F5A;
}
#about h1{
  font-size: 2rem;
  color:#326B1E;
}
#about img{
  width:19rem;
  height:29rem;
  display:block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}
p{
  font-size: 1.2rem;
  color: #20675E;
  text-shadow: .25rem .25rem .25rem gray;
}
.box{
  display: block;
  position:relative;
  top:1rem;
}
#about{
  padding-bottom: 1rem;
}
/*linkedin section*/
#linkedin{
  background-color: #3AA6C4;
  padding-top:1rem;
}
/*github section*/
#github{
  background-color: #CC57C2;
  padding-top:1rem;
}
/*stack overflow*/
#stackoverflow{
  background-color: #FFCB23;
  padding-top:1rem;
}
/*profile images*/
#linkedin img,#github img,#stackoverflow img{
  width: 100%;
  border-radius: 1rem;
}
.image-container{
  width:100%;
}
/*footer section*/
footer{
  display: block;
  position:relative;
  top:3rem;
}
footer ul li{
  display:inline;
  position:relative;
  float:left;
}
